<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <p>base: <input type="number" v-model="base" name="" id=""></p>
        <p>altura: <input type="number" v-model="altura" name="" id=""></p>
        <p>Area: {{calculoArea}}</p>
    </div>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                base: 1,
                altura: 1
            },
            computed:{
                calculoArea(){
                    return this.base * this.altura;
                }
            }
        })
    </script>


</body>

</html>