<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <ul>
            productos
            <li v-for="producto of productos">
                <p v-for="(value, key) of producto">
                    {{key}} : {{value}}
                </p>
            </li>
        </ul>
    </div>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                productos: [
                    {
                        id: 1,
                        nombre: "polera",
                        precio: 80
                    },
                    {
                        id: 2,
                        nombre: "pantalon",
                        precio: 250
                    },
                    {
                        id: 3,
                        nombre: "camisa",
                        precio: 120
                    }
                ]

            }
        })
    </script>


</body>

</html>