<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <ul>
            contactos
            <template v-for="persona in personas">
                <li v-if="persona.edad > 20">

                    <p v-for="(value, key) in persona">
                        {{key}}: {{value}}
                    </p>

                </li>
            </template>
        </ul>
    </div>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                personas: [
                    {
                        id: 1,
                        nombre: "juan",
                        telefono: 75847587,
                        edad: 20
                    },
                    {
                        id: 2,
                        nombre: "maria",
                        telefono: 74747478,
                        edad: 15
                    },
                    {
                        id: 3,
                        nombre: "carlos",
                        telefono: 74847587,
                        edad: 22
                    }
                ]
            }
        })
    </script>


</body>

</html>